/* STYLE.CSS */

header, footer {
    background-color: #00897B;
    color: #fff;
}

header {
    height: 4em;
}

footer {
    height: 3em;
}

h3 {
    font-size: 18px;
    margin-top: 10px;
}

a {
    color: #fff;
}

.navbar {
    margin-bottom: 0;
}

#user-status {
    border-radius: 50%;
    background-color: #ffdb65;
    position: absolute;
    bottom: 12px;
    right: 12px;
    padding: 4px;
    border: 2px solid white;
}

#username {
    padding-top: 17px;
    padding-bottom: 15px;
    font-size: 12px;
}