/* STYLE.CSS */
* {
    font-family: Lato;
}

header, footer {
    background-color: #00897B;
    color: #fff;
}

header {
    height: 4em;
    margin-bottom: 1.2em;
}

footer {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

section {
    color: 	#606060;
}

h3 {
    font-size: 18px;
    margin-top: 10px;
}

ul > li > a {
    font-weight: 600;
}

a {
    color: #fff;
}

table {
    width: 100%;
    font-size: 13px;
}

tr {
    border-bottom: 1px solid #ddd;
}

th, td {
    padding-bottom: 7px;
    padding-top: 7px;
}

input[type="checkbox"]{
    transform: scale(1.5);
}

.table {
    margin-bottom: 2em;
}

.table-icon {
    width: 40px;
}

.kviitung {
    color: #00897B;
    text-decoration: underline;
}

.alates, .kuni {
    width: 100px;
    height: 30px;
    margin: 0;
}

.navbar {
    margin-bottom: 0;
}

.icon {
    font-size: 1.5em;
}

.toolbar {
    margin-bottom: 1em;
}

.calendar-icon {
    background-color: #00897B;
    padding: 8px;
    margin: 0;
    color: white;
}


.payment-filter {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    overflow: hidden;
}

.no-background-button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    overflow: hidden;
}

.transaction-btn {
    background-color: #00897B;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 4px;
    margin-right: 25px;
}

.transaction-btn:hover {
    background-color: #02423b;
}

.amount-per-page {
    margin-bottom: 1em;
}

#amount-per-page {
    margin-left: 10px;
    width: 50px;
    height: 30px;
    text-align: center;
}

#location-tab-nav {
    border-bottom: none;
    margin-bottom: 1em;
}

#location-tab-nav > li > a {
    font-size: 16px;
    font-weight: 600;
}

#location-tab-nav > li.active > a {
    color: #00897B;
}

.tab-content li.active > a,
.tab-content li.active > a:hover,
.tab-content li.active > a:focus {
    background-color: #00897B;
    color: #fff;
}

.nav-tabs {
    margin-bottom: 1em;
}

.nav-tabs > li > a {
    color: #555;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    border: none;
}

#section-heading {
    margin-bottom: 1em;
}

#user-status {
    border-radius: 50%;
    background-color: lightgreen;
    position: absolute;
    bottom: 12px;
    right: 12px;
    padding: 2.5px;
    border: 2px solid white;
}

#username {
    padding-top: 17px;
    padding-bottom: 15px;
    font-size: 12px;
}

#tehingud-count {
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 2px;
    background-color: #00897B;
    border-radius: 10px;
    font-size: 12px;
    color: white;
    font-weight: 500;
}